body {
  margin: 0;
  background: #1e1e1e;
  color: white;
  font-family: Arial;
}

#player {
  padding: 10px;
}

input {
  width: 100%;
  margin-bottom: 6px;
}

.controls {
  display: flex;
  gap: 6px;
}

button {
  flex: 1;
  background: #444;
  border: none;
  color: white;
  padding: 6px;
  border-radius: 4px;
}

button:hover {
  background: #666;
}
